html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #37003D; margin: 1rem 0; }
a { color: #37003D; }
hr { border: none; border-top: 1px solid floralwhite; }
nav { background: floralwhite; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid white; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: white; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
.content { height: 200px; width: 400px; position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -200px;}
.bg { background-image: url("FPL logo.png"); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;
}
input.danger { color: #cc2f2e; }
input[type=username] {height: 25px;}
input[type=password] {height: 25px;}
input[type=submit] { border: none; outline: none; height: 50px; width: 100%; background-color: antiquewhite; color: black;
    border-radius: 4px; font-weight: bold;}
input[type=submit]:hover{border: none; outline: none; height: 50px; width: 100%; background-color: white; color: black;
    border-radius: 4px; font-weight: bold;}